<h1>test</h1>
<% if(typeof errors!='undefined') { %>
 <% errors.forEach(function(error) { %>
    <div >
        <%= error.msg %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
<% }); %>
 <% } %>   