<%- include("../partials/header") %>

<body>
    <div class="row container-box">
        <div class="col-4 left-box">
            <div class="left-box-inner"><a href="/"><h1>Attendance Tracker</h1></a></div>
            <div class="left-box-inner"><a href="/student/login"><h4>Student Login</h4></a></div>
        </div>
        <div class="col-8 right-box">
            <%-  include( "../partials/messages")  %>
            <form action="/teacher/login"method="post" class="form-class">
                <h1>Teacher Login</h1>
                <div class="form-outline">
                    <input type="text"name="username" id="username" class="form-control form-control-lg">
                    <label class="form-label" for="username">Username</label>
                <div class="form-notch"><div class="form-notch-leading"></div><div class="form-notch-middle" ></div><div class="form-notch-trailing"></div></div></div>
                <div class="form-outline">
                    <input type="password"name="password" id="password" class="form-control form-control-lg">
                    <label class="form-label" for="password">Password</label>
                <div class="form-notch"><div class="form-notch-leading"></div><div class="form-notch-middle"></div><div class="form-notch-trailing"></div></div></div>
                <button type="submit" class="btn btn-primary btn-block">Log In</button>
                <p>Not a Teacher? <a href="/teacher/register">Register</a> </p>
            </form>
        </div>
    </div>
</body>


<%- include("../partials/footer") %>