html {
    height: 100%;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #c4c5d5;
    height: 100%;
}

/*
*********    Login and Register   *********
*/
.container-outer {
    height: 100%;
    padding: 50px 0;
}
.container-box {
    display: flex;
    width: 80%;
    height: 100%; 
    margin: 0 auto;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 6px 9px 51px 3px rgb(56, 55, 56);
    -moz-box-shadow: 6px 9px 51px 3px rgb(59, 58, 59);
    box-shadow: 6px 9px 51px 3px rgb(54, 53, 54);
}

.left-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    text-align: center;
    height: 100%;
    padding: 40px;
    font-size: 50px;
    color: white;
    background-color: #3E3B61;
    border-radius: 20px 0 0 20px;
}
.left-box a {
    color: white;
}
.left-box-inner:first-child {
    margin: 0px auto;
    font-size: 2em;
}
.left-box-inner:last-child {
    position: absolute;
    bottom: 30px;
    left: 40px;
}
.right-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 5%;
    background-color: white;
    border-radius: 0 20px 20px 0;
}
.form-class h1 {
    margin-bottom: 2rem;
}

.form-outline {
    margin: 1rem 0;
}

.form-class p {
    margin-top: 1rem;
}

.btn-primary {
    background-color: #3E3B61;
}

.btn-primary:hover {
    background-color: #857BB9;
}

.btn-primary:focus {
    background-color: #857BB9;
}

.form-notch-leading {
    width: 9px;
}

.form-notch-middle {
    width: 64.8px;
}
.alert {
    padding: 5px 10px;
}
/*
********   Navbar   ********
*/
.navbar {
    padding-left: 100px;
    padding-right: 100px;
    background-color: #434068;
}
.navbar-brand {
    font-weight: 700;
}
.nav-item {
    font-weight: 500;
}
.nav-name {
    border-right: 0.1px solid rgb(168, 168, 168);
}
.navbar-collapse {
    width: 225px;
}

@media screen and (max-width: 992px) {
    .navbar-collapse {
        width: inherit;
    }
    .nav-name {
        border-right: 0;
        border-bottom: 0.1px solid rgb(168, 168, 168);
    }
}  

/*
*************** Teacher Dashboard **********
*/
.card-box {
    height: 300px;
    width: 300px;
    margin: 0px 10px 30px 10px;
    padding: 40px 30px;
    border-radius: 10px;
    background-color: white;
    /* background-color: #eee8fc; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    cursor: pointer;
    -webkit-box-shadow: 0px 9px 33px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 9px 33px -15px rgba(0,0,0,0.75);
    box-shadow: 0px 9px 33px -15px rgba(0,0,0,0.75);
    transition: all 0.5s;
}
.card-box i {
    font-size: 50px;
}
.card-box h4 {
    border-bottom: 2px solid #3E3B61;
    padding-bottom: 10px;
}
.card-box p {
    margin-bottom: 0;
}
.card-box:hover {
    -webkit-box-shadow: 0px 24px 33px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 24px 33px -11px rgba(0,0,0,0.75);
    box-shadow: 0px 24px 33px -11px rgba(0,0,0,0.75);
}

/*
************** Teacher Class ************
*/
.shadow {
    -webkit-box-shadow: 0px 9px 33px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 9px 33px -15px rgba(0,0,0,0.75);
    box-shadow: 0px 9px 33px -15px rgba(0,0,0,0.75);
}
.card-container {
    padding: 10px;
    margin-top: 20px;
    justify-content: space-around;
}
.card-info {
    width: 100%;
    padding: 30px 40px;
    border-radius: 10px;
    background-color: white;
}
.card-info-header {
    border-bottom: 2px solid #3E3B61;
    padding-bottom: 10px;
}
.card-info p,.card-info-header h6 {
    margin-bottom: 0;
}
.card-info-inner {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.card-info-inner span {
    display: flex;
}
.card-info-inner span p {
    cursor: pointer;
}
.card-info-inner span p {
    cursor: pointer;
}
.card-info-inner h5 {
    margin-bottom: 0;
}
.card-attendance {
    width: 100%;
    justify-content: space-between;
}
.card-attendance-left {
    padding: 30px 40px;
    max-width: 48%;
    border-radius: 10px;
    margin: 0;
    background-color: white;
}
.card-attendance-left div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}
.card-attendance-left i {
    font-size: 30px;
}
.card-attendance {
    margin-top: 30px;
}
.card-attendance-right {
    padding: 30px 40px;
    max-width: 48%;
    border-radius: 10px;
    margin: 0;
    text-align: center;
    background-color: white;
}
.card-attendance-right h4 {
    border-bottom: 2px solid #3E3B61;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.card-attendance-right form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.card-attendance-right form p {
    margin: 0;
}
.card-attendance-right form input {
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 7px;
}
.card-attendance-right form .btn {
    margin-top: 8px;
}
.students-list {
    padding: 30px 40px;
    border-radius: 10px;
    background-color: white;
}
.students-header, .students-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.students-header {
    border-bottom: 2px solid #3E3B61;
}
.students-info {
    margin-top: 1rem;
    border-bottom: 0.1px solid #3E3B61;
    cursor: pointer;
}
.students-info:last-child {
    border-bottom: none;
}

/*
************ Student Dashboard ***************
*/
.join-class {
    cursor: default;
}
.btn-primary {
    background-color: #3E3B61;
}
.btn-primary:hover {
    background-color: #857BB9;
}
.btn-primary:focus {
    background-color: #857BB9;
}
.modal-body .btn {
    display: block;
    margin: 0 auto;    
}
/*
************ Student Class ***************
*/
.recent-attendance {
    padding: 30px 40px;
    border-radius: 10px;
    background-color: white;
}
.recent-header {
    border-bottom: 2px solid #3E3B61;
}
.recent-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    border-bottom: 0.1px solid #3E3B61;
    cursor: pointer;
}
.recent-info:last-child {
    border-bottom: none;
}