<%- include("../partials/header") %>

<body>
    <div class="row container-box">
        <div class="col-4 left-box">
            <div class="left-box-inner"><a href="/"><h1>Attendance Tracker</h1></a></div>
            <div class="left-box-inner"><a href="/teacher/login"><h4>Teacher Login</h4></a></div>
            
        </div>
        <div class="col-8 right-box">
            <form action="" class="form-class">
                <h1>Student Login</h1>
                <div class="form-outline">
                    <input type="text" id="username" class="form-control form-control-lg">
                    <label class="form-label" for="username">Registration Number</label>
                <div class="form-notch"><div class="form-notch-leading"></div><div class="form-notch-middle" ></div><div class="form-notch-trailing"></div></div></div>
                <div class="form-outline">
                    <input type="password" id="password" class="form-control form-control-lg">
                    <label class="form-label" for="password">Password</label>
                <div class="form-notch"><div class="form-notch-leading"></div><div class="form-notch-middle"></div><div class="form-notch-trailing"></div></div></div>
                <button type="submit" class="btn btn-primary btn-block">Log In</button>
                <p>Not a Student? <a href="/student/register">Register</a> </p>
            </form>
        </div>
    </div>
</body>


<%- include("../partials/footer") %>